/*contacts*/
	
	.address {margin-top: 0px; }
	.address dt {
		padding-bottom: 16px;
		margin-top: 24px;
}
	.address a:hover { text-decoration: underline;}
	.address + .address { margin-top: 17px;}
	.address span {	display: inline-block;	width: 91px;} 
		.address span.e-mail {width:auto;}

	.map_wrapper {display: block;}
		.map_wrapper h3 { padding-top: 0; }

		dl.address dd span { text-align: left;}

	#map_canvas {
		width: 100%;
		height: 258px; 
		margin-top: 0px;
		margin-bottom: 3px;
}






	#contact-form {	position: relative; 	margin-top: 19px;}
	
	#contact-form fieldset.fleft { width: 418px;}
	#contact-form fieldset.fright { width: 514px;}
	#contact-form label {
		display: inline-block;
		position: relative;
		min-height: 41px;
		width: 200px;
	}
	#contact-form label + label { margin-left: 6px;}	
	#contact-form label input,
	#contact-form label textarea {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		float: left;
		outline: none;
		border-radius: 0;
		outline: none;
		box-shadow: none;
		width: 100%;
		color: #326781;
		font: 13px/18px Arial, sans-serif;
		font-family: Trebuchet MS, sans-serif;
		background: #041a25;
		border: 1px solid #041a25;
		-webkit-appearance: none;
	}
	
	.form_buttons a {
		float: right;
		margin-top: 32px;
		margin-left: 9px;
	}
	#contact-form label input {
		height: 31px;
		box-shadow: none !important;
		padding: 6px 7px 5px 12px;
		outline: none;
	}
	#contact-form label textarea {
		height: 351px;
		overflow: auto;
		width: 100%;
		padding: 6px 7px 5px 12px;
		margin: 0px;
		resize: none;
	}




#contact-form span {
	display: block;
}
#contact-form ._placeholder {
	position: absolute;
	/*!*/
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: text;
	padding: 6px 7px 5px 12px;
	opacity:.99;
	color: #326781;
	display: block;
	font: 13px/18px Arial, sans-serif;
	font-family: Trebuchet MS, sans-serif;
}
#contact-form ._placeholder.focused {
	opacity: .4;
	/*filter: alpha(opacity=40);*/
	/*.box-shadow(0px 0px 7px 0px rgba(0, 0, 255, 0.5));*/

}
#contact-form ._placeholder.hidden {
	display: none;
}

#contact-form .message {
	width: 100%;
	margin-left: 0px;
}	
#contact-form .error-message,
#contact-form .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px/20px Arial;
	-webkit-transition: 0.3s ease-in height;
	-moz-transition: 0.3s ease-in height;
	-o-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 3px;
	top: 0;
}
#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
	height: 20px;
}
#contact-form .success-message {
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*.box-shadow(inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2));*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	transition: all 0.7s linear;
	padding: 0px 0;
	color: #326781;
	font: 13px/18px Arial, sans-serif;
	font-family: Trebuchet MS, sans-serif;
	background: #041a25;
		
}
#contact-form.success .success-message {
  padding: 72px 0;
  border: 1px solid #041a25;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
.form_btns {  display: block;  text-align: right;}
.form_btns a {  
	margin-left: 6px;  
	margin-top: 10px;  
	color: #041a25;  
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: 'Bevan', cursive; 
	padding: 10px 20px 7px;
	font-weight: normal;
	background: #d86d04;
}
.form_btns a:hover { color: #fff;}

/*--- contact_form end------*/

@media only screen and (max-width: 995px) {
	
	#contact-form label {display: block; width: 100%;}
	#contact-form label input {	width: 100%;}
	#contact-form label textarea {	width: 100%;}
	#contact-form fieldset.fleft { width: 100%; }
	#contact-form fieldset.fright { width: 100%; }

	#map_canvas { width: 100%;}

	#contact-form label + label { margin-left: 0;}
}
@media only screen and (max-width: 767px) {
	#contact-form .success { left: 0; right: 0;}
	#map_canvas { height: 300px; margin-bottom: 30px;}

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 320px) {

}