/*menu with jquery.horizontalNav.js*/

nav { 
	display: block;
	z-index: 11;
}

.sf-menu {margin-top: 0px; background: #d86d04; height: 85px; border-top: 4px solid #bf6004;}
.sf-menu > li > span {display: block; position: relative;}
.sf-menu ul {position:absolute;top:-999px; display:none; }/*offset of submenus need to match (see below)*/
.sf-menu li { padding-left:0px; position:relative; background: none;}
	.sf-menu a {
		display: block;
		text-decoration: none;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
		text-transform: uppercase;
		font-family: 'Bevan', cursive;
	}
		.sf-menu a:hover {text-decoration: none;}
		.sf-menu li:hover span {color:#ffffff;}

/*================================>> 1 Level <<========================================*/

li.sfHover {position: relative;}
.sf-menu > li > a {
	display:block;
	height: 85px;
	width: 156px;
	text-align: center;
	vertical-align: middle;
	line-height: 89px;
	text-transform: uppercase;
	-moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease;
	z-index: 100;
}
.sf-menu > li:first-child > a { }
.sf-menu > li {
	display: block;
	position: relative;
	float: left;
     -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
   	transition: background 0.3s ease;
}

	.sf-menu > li:hover > a, 
	.sf-menu > li.current > a, 
	.sf-menu > li.sfHover > a,
	.sf-menu > li:hover > span, 
	.sf-menu > li.current > span, 
	.sf-menu > li.sfHover > span {
		color: #ffffff;
		background: #bf6004;
	}
	.sf-menu > li.current,
	.sf-menu > li:hover {
		background: #272727;
		-moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease;
	}

.sf-menu li span {
	position: absolute;
}

.sf-menu > li > a > .sf-sub-indicator {
	display: block;
	height: 0px;
	width: 0px;
	left: 50%;
	margin-left: -10px;	
	top: 61px;
	-moz-transition: top 0.3s ease-out;
    -o-transition: top 0.3s ease-out;
    -webkit-transition: top 0.3s ease-out;
	text-indent: -1000px;
	overflow: hidden;
	border: 6px solid;
	border-color: #fff transparent transparent transparent;
}
.sf-menu > li.sfHover > a > .sf-sub-indicator {
	top: 68px;
	z-index: 100;
}

/*================================>> 2 Level <<========================================*/
.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {
	top: 85px;
	width: 185px;
	z-index:99;
	background: #bf6004;
	text-align: left;
	padding-top: 22px;
	padding-bottom: 24px;
}
.sf-menu > li > ul > li {height: auto; border: none; margin: 0; padding: 0;}

.sf-menu > li > ul > li > a {
	display: block;
	padding: 6px 0 6px 43px;
}
.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover > a,
.sf-menu li.sfHover li.sfHover span { 
	background: #fff;
	color: #bf6004;
}

.sf-menu li li.sfHover {
	background: inherit;
}

	.sf-menu > li > ul .sf-sub-indicator {line-height: 17px;}

.sf-menu > li > ul .sf-sub-indicator {
	width: 0;
	height: 0;
	border: 6px solid;
	border-color: transparent transparent transparent #fff;
	text-indent: -1000px;
	overflow: hidden;
}
/*================================>> 3 Level <<========================================*/

.sf-menu li li ul {
	/* left: 170px; */
	top: 0px;
	width: auto;
	z-index:99;
	/* background: #ffd249; */
	position: relative;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

.sf-menu li li li {height: auto; border: none; margin: 0;}
.sf-menu li li li a {
	display: block;
	padding: 6px 0 6px 29px;
	color: #fff;
}
.sf-menu li li li a:hover {	color: #ffffff; background: #d86d04;}
.sf-menu > li > li.sfHover > span {}

.sf-menu > li > ul > li > a > span { top: 8px; right: 6px;}


/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 995px) {
	.sf-menu > li > a { width: 109px;}
}
@media only screen and (max-width: 795px) {

}
@media only screen and (max-width: 767px) {
	nav {margin-bottom: 0px;padding-bottom: 0px;margin-top: 0px;}
	.sf-menu { display:none !important;}

	nav select {
		height: 35px;
		border: 1px solid #0c2a39;
		font-family: Trebuchet MS, sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		background-color: #d86d04;
		width: 100%;
	    outline: none;
	    padding: 5px;
		font-weight: normal;
		margin-top: 75px;
	}
	nav select option:first-child {
		color:#20201f;
	}
	nav { padding-bottom: 0px; margin-top: 0px;margin-bottom: 0px; height: 70px;}
	nav { background: none;}
}

@media only screen and (max-width: 479px) {
}