@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var aboutContent = '<img src="/images/AboutUs/aboutus (3).jpg" style="height:300px; width:257px;" alt="" class="img-ind w1">  <div> ' +
        '<p> Established in the 2016 as a TV Channel specialized in the field of publicity, advertising and commercial services.</p>' +
        '<p>We are delighted to provide all that is new to serve customers and the public. In view of the current economic conditions which the world, in general, and Arab World. In particular is going through, the so-called   (Mazaj Gulf Tv) has emerged as special offer and discounts which the employer provides to consumers and to the public. (Mazaj Gulf Tv) is intended to reduce consumer costs and increase volume of sale on the part of the business. This idea has recently become widespread in the advanced countries and also been widely accepted by consumers and salespersons a like.</p>' +
        '<div>In fact, (Mazaj Gulf Tv) provides unique offers and commercial planes  on a monthly basis for restaurants, malls, cafes, cinemas, cars, toys, businesses and other places which consumers visit and which provide catering services and other consumer purchases intended to reduce the costs of advertising (Mazaj Gulf Tv) also offers digital solutions with www. MazajGulf.com®, an online site for local savings, which has nearly 400 offer views each month, as well as mobile phones, including apps for the most current operating systems.</div></div>';

    var whyContent = '<img src="/images/AboutUs/aboutus (1).jpg" style="height:300px; width:257px;" alt="" class="img-ind w1">  <div> ' +
       '<p>In the six months ended September 30.2015 newspaper sales fell by 10.6% on weekends and 7.5% on Sundays and are expected to continue to decline significantly through 2012, according to reports by outsell Inc. and the Audit Bureau of Circulations (Mazaj Gulf Tv) continues to show homes, and maintains a 93% awareness rate and an 85% open and look through rate.</p>' +
       '<p><b>Our Goal:</b></p><ol><li>EMPOWERING YOUR BUSINESS</li><li>FIND NEW CUSTOMERS</li><li>KEEP CUSTOMERS COMING BACK </li><li>INSULATE YOUR BUSINESS FORM </li></ol>' +
       '</br><p>As (mazaj gulf tv) helps your business accomplish thier goals you’ll see measurable results in the form of more leads,increased traffic ,improved average ticket and return on investment,a proven marketing vehicle (mazaj gulf tv) delivers success</p></div>';

    $(document).ready(function () {
        
        $("#about").on("click", function () {
            $("#about_content").html(aboutContent);
            $("#heading").text("About our company");
        });

        $("#why").on("click", function () {
            $("#about_content").html(whyContent);
            $("#heading").text("Why MazajGulf?");
        });
    });
</script>

<section class="content">
    <div class="bg-1">
        <div class="container_12">
            <div class="row">
                <div class="grid_9">
                    <h2>About Us</h2>
                    <div class="post">
                        <div class="post_info clearfix">
                            <div class="date img-ind">@DateTime.Now.ToString("dd MMM yyyy")</div>
                            <div class="extra-wrap">
                                <div class="blog-title"><a id="heading" class="color-4">About our company</a></div>
                            </div>
                        </div>
                        <div class="clearfix" id="about_content">
                            <img src="~/images/AboutUs/aboutus (3).jpg" alt="" style="height:300px; width:257px;" class="img-ind w1">
                            <div>
                                <p>Established in the 2016 as a TV Channel specialized in the field of publicity, advertising and commercial services.</p>
                                <p>We are delighted to provide all that is new to serve customers and the public. In view of the current economic conditions which the world, in general, and Arab World. In particular is going through, the so-called   (Mazaj Gulf Tv) has emerged as special offer and discounts which the employer provides to consumers and to the public. (Mazaj Gulf Tv) is intended to reduce consumer costs and increase volume of sale on the part of the business. This idea has recently become widespread in the advanced countries and also been widely accepted by consumers and salespersons a like.</p>
                                <div>In fact, (Mazaj Gulf Tv) provides unique offers and commercial planes  on a monthly basis for restaurants, malls, cafes, cinemas, cars, toys, businesses and other places which consumers visit and which provide catering services and other consumer purchases intended to reduce the costs of advertising (Mazaj Gulf Tv) also offers digital solutions with www. MazajGulf.com®, an online site for local savings, which has nearly 400 offer views each month, as well as mobile phones, including apps for the most current operating systems. </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="grid_3">
                    <h2>Categories</h2>
                    <ul class="list">
                        <li><a href="#" id="about">About Us</a></li>
                        <li><a href="#" id="why">Why MazajGulf?</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>

