
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container_12">
    <div class="row">
        <div class="grid_9 prefix_3">
            <div class="title-1">Your favourite movies and shows:</div>
        </div>
        <div class="clearfix">
            <div class="grid_3">
                <ul class="list-3 clearfix">
                    <li><a href="#"><span class="icon-1"></span><span>Shows</span></a></li>
                    <li><a href="#"><span class="icon-2"></span><span>news</span></a></li>
                    <li><a href="#"><span class="icon-3"></span><span>movies</span></a></li>
                    <li><a href="#"><span class="icon-4"></span><span>music</span></a></li>
                    <li><a href="#"><span class="icon-5"></span><span>for children</span></a></li>
                    <li><a href="#"><span class="icon-6"></span><span>weather</span></a></li>
                    <li><a href="#"><span class="icon-7"></span><span>sports</span></a></li>
                    <li><a href="#"><span class="icon-8"></span><span>LIFESTYLE</span></a></li>
                </ul>
            </div>
            <div class="grid_9">
                <div class="slider">
                    <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                        <div data-src="../images/slide-1.jpg">
                            <div class="camera_caption fadeIn">
                                <div class="slider-text">
                                    <div class="s-test-1"><span class="color-1">Reality show</span> <a href="#">‘Jungle walk’</a></div>
                                    <div><a href="#" class="h-underline s-text-2">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. </a></div>
                                </div>
                                <div class="time">12:20 pm</div>
                            </div>
                        </div>
                        <div data-src="../images/slide-2.jpg">
                            <div class="camera_caption fadeIn">
                                <div class="slider-text">
                                    <div class="s-test-1"><span class="color-1">Reality show</span> <a href="#">‘Ideal Couple’</a></div>
                                    <div><a href="#" class="h-underline s-text-2">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. </a></div>
                                </div>
                                <div class="time">12:20 pm</div>
                            </div>
                        </div>
                        <div data-src="../images/slide-3.jpg">
                            <div class="camera_caption fadeIn">
                                <div class="slider-text">
                                    <div class="s-test-1"><span class="color-1">For children</span> <a href="#">‘Little friends’</a></div>
                                    <div><a href="#" class="h-underline s-text-2">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. </a></div>
                                </div>
                                <div class="time">12:20 pm</div>
                            </div>
                        </div>
                        <div data-src="../images/slide-4.jpg">
                            <div class="camera_caption fadeIn">
                                <div class="slider-text">
                                    <div class="s-test-1"><span class="color-1">Adult show </span><a href="#">‘Hot pepper’</a></div>
                                    <div><a href="#" class="h-underline s-text-2">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. </a></div>
                                </div>
                                <div class="time">12:20 pm</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="bg-1">
        <div class="container_12">
            <div class="row">
                <div class="grid_3">
                    <h2>Watch tonight: </h2>
                    <div class="list_carousel responsive">
                        <ul id="foo" class="clearfix">
                            <li>
                                <a href="#" class="clearfix">
                                    <span class="time-2">19:00</span>
                                    <div><span>Praesent vestibulum aenean nonummy</span></div>
                                </a>
                                <a href="#" class="clearfix">
                                    <span class="time-2">20:10</span>
                                    <div><span>Hendrerit mauris cum sociis natoque </span></div>
                                </a>
                                <a href="#" class="clearfix">
                                    <span class="time-2">20:50</span>
                                    <div><span>Praesent vestibulum aenean nonummy</span></div>
                                </a>
                                <a href="#" class="clearfix">
                                    <span class="time-2">21:00</span>
                                    <div><span>Cum sociis natoque penatibus et magnis</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <span class="time-2">19:00</span>
                                    <div><span>Praesent vestibulum aenean nonummy</span></div>
                                </a>
                                <a href="#" class="clearfix">
                                    <span class="time-2">20:10</span>
                                    <div><span>Hendrerit mauris cum sociis natoque </span></div>
                                </a>
                                <a href="#" class="clearfix">
                                    <span class="time-2">20:50</span>
                                    <div><span>Praesent vestibulum aenean nonummy</span></div>
                                </a>
                                <a href="#" class="clearfix">
                                    <span class="time-2">21:00</span>
                                    <div><span>Cum sociis natoque penatibus et magnis</span></div>
                                </a>
                            </li>
                        </ul>
                        <div class="arrows clearfix">
                            <a id="prev1" class="prev" href="#"></a><a id="next1" class="next" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="grid_9">
                    <h2>Latest videos:</h2>
                    <div class="list_carousel responsive grid_inside">
                        <ul id="foo1" class="clearfix">
                            <li>
                                <div class="box-1 clearfix">
                                    <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img src="~/images/page-1_img-1.jpg" alt=""></a>
                                    <div>
                                        <a href="#">Praesent vestibulum aenean nonummy</a>
                                        <div class="color-2">Nov.25, 2013</div>
                                    </div>
                                </div>
                                <div class="box-1 clearfix">
                                    <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img src="~/images/page-1_img-2.jpg" alt=""></a>
                                    <div>
                                        <a href="#">Praesent vestibulum aenean nonummy</a>
                                        <div class="color-2">Nov.25, 2013</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box-1 clearfix">
                                    <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img src="~/images/page-1_img-3.jpg" alt=""></a>
                                    <div>
                                        <a href="#">Praesent vestibulum aenean nonummy</a>
                                        <div class="color-2">Nov.25, 2013</div>
                                    </div>
                                </div>
                                <div class="box-1 clearfix">
                                    <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img src="~/images/page-1_img-4.jpg" alt=""></a>
                                    <div>
                                        <a href="#">Praesent vestibulum aenean nonummy</a>
                                        <div class="color-2">Nov.25, 2013</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box-1 clearfix">
                                    <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img src="~/images/page-1_img-5.jpg" alt=""></a>
                                    <div>
                                        <a href="#">Praesent vestibulum aenean nonummy</a>
                                        <div class="color-2">Nov.25, 2013</div>
                                    </div>
                                </div>
                                <div class="box-1 clearfix">
                                    <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img src="~/images/page-1_img-6.jpg" alt=""></a>
                                    <div>
                                        <a href="#">Praesent vestibulum aenean nonummy</a>
                                        <div class="color-2">Nov.25, 2013</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box-1 clearfix">
                                    <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img src="~/images/page-1_img-3.jpg" alt=""></a>
                                    <div>
                                        <a href="#">Praesent vestibulum aenean nonummy</a>
                                        <div class="color-2">Nov.25, 2013</div>
                                    </div>
                                </div>
                                <div class="box-1 clearfix">
                                    <a class="various iframe" href="http://www.youtube.com/embed/2kodXWejuy0?rel=0"><img src="~/images/page-1_img-6.jpg" alt=""></a>
                                    <div>
                                        <a href="#">Praesent vestibulum aenean nonummy</a>
                                        <div class="color-2">Nov.25, 2013</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="arrows clearfix">
                            <a id="prev2" class="prev" href="#"></a><a id="next2" class="next" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
